///mixin
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
      -#{$prefix}-#{$property}: $value;
    }
  
    #{$property}: $value;
}

.main {	margin-left: 47px;padding: 0px 0px;	margin-top: 50px;}

.bg-light{
  .bg-transparent{
    @include prefix(flex, 1 1 auto, 'webkit' 'ms' 'moz');
    font-size: 16px;
  }
  span.bg-transparent{
    height: 37px;
    line-height: 37px;
  }
}
.bg-light {
  .bg-transparent{
    &:focus, &.focus{
      @include prefix(box-shadow, 0 0 1px rgba(102, 102, 102, 0.75), 'webkit' 'moz');
      background-color: #fff !important;
    }
  }
}
.bg-light.bg-dark {
  background-color: #f1f1f1 !important;
}
.small.text-dark {
  font-size: 13px !important;
}
.srl-no{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-top: 18px;
    font-size: 17px;
}
.srl-no-two{
  margin-top: 30px;
}
.list-unstyled{
  overflow: hidden;
  li{
    height: 152px;
    a:hover{
      text-decoration: none;
    }
    &:hover {
      .document-box{
        border-color: #fe604d !important;
      }
      .doc-edit{
        display: inline-block;
      }
      .doc-close{
        display: block;
      }
    }
  }
}
.document-box {
  width: 80px;
  height: 100px;
  margin: 5px 0;
}
.doc-close {
  width: 16px;
  height: 16px;
  display: none;
  line-height: 16px;
  position: absolute;
  right: -8px;
  top: -6px;
  z-index: 1;
  color: #fff;
  &:hover{
    color: #fff !important;
  }
}
.doc-edit {
  display:none;
  padding-top: 2px;
  padding-bottom:2px;
  .fas{
    margin: 0 2px 0 0;
    font-size: 8px;
  }
  &:hover{
    color: #888;
  }
}
.add-file-label{
  input{display: none;}
}
.main {
  margin-left: 60px;
}

.modal-content{
  .modal-body{
    padding:0 !important;
    }
} 
