<div class='main bg-light'>
<app-leftnav></app-leftnav>
<app-header></app-header>
<!--Inner Page Main Container-->
<div class="p-4">
        <div class="row justify-content-md-center m-0">
            <div class="col col-12 col-md-11 col-lg-10 col-xl-6 mt-4 bg-white">
                <div class="row justify-content-md-center">
                    <div class="col-12 row pb-3 pl-0 pr-0 m-0">
                    <div class="col col-1 d-md-block d-none d-sm-block ml-lg-4 ml-md-3 ml-xl-4"></div>
                    <div class="col col-12 col-sm-10">
                        <h3 class="pt-4 text-left text-dark h1">Send Fax</h3>
                    </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                        <div class="col-12 row pb-3 pl-0 pr-0 m-0">
                            <div class="col col-1 d-md-block d-none d-sm-block ml-lg-4 ml-md-3 ml-xl-4">
                                <span class="srl-no d-block text-center bg-light bg-dark rounded-circle text-muted"><strong>1</strong></span>
                            </div>
                            <div class="col col-12 col-sm-10">
                        
                                    <div class="form-group">
                                        <label for="fax-no" class="text-dark col-form-label-lg">
                                            Add files 
                                            <span class="small pl-2">(Only PDF files)</span>
                                        </label>
                                        <input type="file" id="add-file" class="form-control" >
                                    </div>




                                    <div class="pt-4">
                                        <ul class="list-unstyled m-0">
                                            <li class="text-center mr-4 float-left">
                                                <span class="small d-block text-dark">Ajr document</span>
                                                <div class="document-box position-relative rounded border">
                                                    <a href="javascript:void(0);" class="doc-close bg-primary text-white rounded-circle">&times;</a>
                                                </div>
                                                <a  class="doc-edit border rounded position-relative rounded border pl-3 pr-3 text-muted small" (click)='openInvoiceMode()'><i class="fas fa-pen"></i> Edit</a>
                                            </li>
                                            <li class="text-center mr-4 float-left">
                                                    <span class="small d-block text-dark">Xenvoice</span>
                                                    <div class="document-box position-relative rounded border">
                                                        <a href="javascript:void(0);" class="doc-close bg-primary text-white rounded-circle">&times;</a>
                                                    </div>
                                                    <a  class="doc-edit border rounded position-relative rounded border pl-3 pr-3 text-muted small" data-toggle="modal" data-target="#invoice"><i class="fas fa-pen"></i> Edit</a>
                                                </li>
                                        </ul>
      
                                    </div>
                            </div>
                        </div>
                </div>
                <div class="row justify-content-md-center">
                        <div class="col-12 row pb-3 pl-0 pr-0 m-0">
                        <div class="col col-1 d-md-block d-none d-sm-block ml-lg-4 ml-md-3 ml-xl-4">
                          <span class="srl-no srl-no-two d-block text-center bg-light bg-dark rounded-circle text-muted"><strong>2</strong></span>
                        </div>
                        <div class="col col-12 col-sm-10">
                            <div class="form-group">
                                <label for="fax-no" class="text-dark col-form-label-lg">Enter Fax Number</label>
                                <input type="text" class="form-control" id="fax-no" placeholder="Eg. +1 212 9876543">
                            </div>
      
                        </div>
                        </div>
                </div>
                <div class="row justify-content-md-center">
                        <div class="col-12 row pb-3 pl-0 pr-0 m-0">
                        <div class="col col-1 d-md-block d-none d-sm-block ml-lg-4 ml-md-3 ml-xl-4">
                            
                        </div>
                        <div class="col col-12 col-sm-10">
                            <div class="form-group text-right">
                                <input type="submit" class="form-control d-inline-block w-25 btn btn-primary rounded " value="Send">
                            </div>
      
                        </div>
                        </div>
                </div>
            </div>
            
        </div>
        </div>

</div>


<div class="modal pop-up-invoice fade in show" id="invoice" #invoiceModel *ngIf='invoiceModelPopUp'>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <app-model-edit-fax></app-model-edit-fax>
            </div>
        </div>
    </div>
</div> 