<!--Inner Page Main Container-->
<div class="container">
        <div class="row justify-content-md-center">
            <div class="col col-lg-8 mt-4 bg-white shadow-lg">
                <div class="row justify-content-md-center">
                    <div class="w-75 row pb-3">
                    <div class="col col-lg-1 col-md-1"></div>
                    <div class="col col-lg-10 col-md-10 p-0 ml-3">
                            <h3 class="pt-4 text-center text-dark">Send Fax</h3>
                    </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                        <div class="w-75 row pb-3">
                            <div class="col col-lg-1 col-md-1">
                                <span class="srl-no d-block text-center bg-light bg-dark rounded-circle text-muted"><strong>1</strong></span>
                            </div>
                            <div class="col col-lg-10 col-md-10 p-0 ml-3">
                                    <div class="rounded d-flex p-3 pl-4 pr-4 bg-light bg-dark">
                                        <button type="button" class="btn bg-transparent text-dark">Add files</button>
                                        <button type="button" class="btn bg-transparent text-dark">Browse</button>
                                        <button type="button" class="btn bg-transparent text-dark small">(Only PDF files)</button>
                                    </div>
                                    <div class="pt-4">
                                        <ul class="list-unstyled m-0">
                                            <li class="text-center mr-4 float-left">
                                                <span class="small d-block text-dark pb-1">Ajr document</span>
                                                <div class="document-box position-relative rounded border">
                                                    <a href="javascript:void(0);" class="doc-close bg-primary text-white rounded-circle">&times;</a>
                                                </div>
                                                <a href="javascript:void(0);" class="doc-edit border rounded position-relative rounded border pl-3 pr-3 text-muted small" data-toggle="modal" data-target="#invoice"><i class="fas fa-pen"></i> Edit</a>
                                            </li>
                                            <li class="text-center mr-4 float-left">
                                                    <span class="small d-block text-dark pb-1">Xenvoice</span>
                                                    <div class="document-box position-relative rounded border">
                                                        <a href="javascript:void(0);" class="doc-close bg-primary text-white rounded-circle">&times;</a>
                                                    </div>
                                                    <a href="javascript:void(0);" class="doc-edit border rounded position-relative rounded border pl-3 pr-3 text-muted small"><i class="fas fa-pen"></i> Edit</a>
                                                </li>
                                        </ul>
      
                                    </div>
                            </div>
                        </div>
                </div>
                <div class="row justify-content-md-center">
                        <div class="w-75 row pb-3">
                        <div class="col col-lg-1 col-md-1">
                          <span class="srl-no srl-no-two d-block text-center bg-light bg-dark rounded-circle text-muted"><strong>2</strong></span>
                        </div>
                        <div class="col col-lg-10 col-md-10 p-0 ml-3">
                            <div class="form-group">
                                <label for="fax-no" class="text-dark">Enter Fax Number</label>
                                <input type="text" class="form-control" id="fax-no" placeholder="Eg. +1 212 9876543">
                            </div>
      
                        </div>
                        </div>
                </div>
                <div class="row justify-content-md-center">
                        <div class="w-75 row pb-3">
                        <div class="col col-lg-1 col-md-1">
                            
                        </div>
                        <div class="col col-lg-10 col-md-10 p-0 ml-3">
                            <div class="form-group text-center">
                                <input type="submit" class="form-control d-inline-block w-50 btn btn-primary" value="Send">
                            </div>
      
                        </div>
                        </div>
                </div>
            </div>
            
        </div>
        </div>
      