

<!-- Modal Header -->
<div class="modal-header">
    <h4  class="modal-title">Signature</h4>
<a class="close" (click)="closeSigPopUp()">&times;</a>
</div>
<div class="modal-body tab-white">
    <div class="navTabsPart">
        <ul class="nav  nav-tabs">
            <li class="nav-item ">
                 <a class="nav-link  show" [ngClass]="{ 'active' : savedSignature }" (click)="toggleTabs('saveSign')">Saved Signatures</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link show" [ngClass]="{ 'active' : drawSignature }" (click)="toggleTabs('drawSign')">Draw it in</a>
            </li>
             <li class="nav-item">
                <a class="nav-link show" [ngClass]="{ 'active' : typeSignature }" (click)="toggleTabs('typeSign')">Type it in</a>
            </li>
            <li class="nav-item">
                 <a class="nav-link show " [ngClass]="{ 'active' :  uploadSignature }" (click)="toggleTabs('uploadSign')">Upload image</a>
            </li>
        </ul>
    </div>
<div class="tab-content">
<div *ngIf='savedSignature' class="savedSignatures text-center tab-pane fade in active show" id="savedSignatures">
      
    <h5>Saved Signatures</h5>
       <div class="selectedSign">
           <img src="../../assets/images/sign.jpg" alt="Signature">
       </div>
       <div class="listoFSignatures">
           <ul class="signList">
               <li class='selected'>
               <a href=""> <img src="../../assets/images/sign.jpg" alt="Signature"></a>
                   <a href="" class="deleteSign">Delete</a>
               </li>
               <li>
                   <a href=""><img src="../../assets/images/sign.jpg" alt="Signature"></a>
                   <a href="" class="deleteSign">Delete</a>
               </li>
               <li>
                   <a href=""><img src="../../assets/images/sign.jpg" alt="Signature"></a>
                   <a href="" class="deleteSign">Delete</a>
               </li>
           </ul>
       </div>
   <div class="inserButton">
       <div class="row">
       <div class="col-sm-8 text-left">
            <div class="inSertpar">
                <p>I understand this is a legal representation of my signtaure.</p>
            </div>
        </div>
       <div class="col-sm-4 text-right">
            <div class="insbtnLink">
                <button  class='insertSign btn btn-primary'>Insert</button>
            </div>
        </div>
    </div>
   </div>



</div>
<div  *ngIf='drawSignature' class="drawSign text-center tab-pane fade in active show" id="drawInIt">
   <h5>Draw In It Signatures</h5>
   <div class="drawSignWMouse">
       <p>Draw your signature with your mouse.</p>
   </div>
   <div class="forSignature">
       <!-- <canvas id="signature" width="500" height="200" "></canvas> -->
       <canvas id="signature-pad" class="signature-pad" style="border: 1px solid #ddd;" width=500 height=200></canvas>
       <a  id="clear-signature">Clear</a>

   </div>
   <div class="inserButton">
        <div class="row">
        <div class="col-sm-8 text-left">
             <div class="inSertpar">
                 <p>I understand this is a legal representation of my signtaure.</p>
             </div>
         </div>
        <div class="col-sm-4 text-right">
             <div class="insbtnLink">
                 <button  class='insertSign btn btn-primary'>Insert</button>
             </div>
         </div>
     </div>
    </div>
</div>
<div *ngIf='typeSignature' class="typeInItSign text-center tab-pane fade in active show" id="tyepInIt">
   <h5>Type In It Signatures</h5>
   <div class="signTypeing">
       <p>Type in your name</p>
       <input type="text" class='form-control' placeholder='some signature'>
   </div>
   <div class="changeFonts">
       <a href="">Change Fonts</a>
   </div>
   <div class="inserButton">
        <div class="row">
        <div class="col-sm-8 text-left">
             <div class="inSertpar">
                 <p>I understand this is a legal representation of my signtaure.</p>
             </div>
         </div>
        <div class="col-sm-4 text-right">
             <div class="insbtnLink">
                 <button  class='insertSign btn btn-primary'>Insert</button>
             </div>
         </div>
     </div>
    </div>
</div>
<div *ngIf='uploadSignature' class="upLoadSignatures text-center tab-pane fade in active show" id="uploadSign">
   <h5>Upload Signatures</h5>
   <div class="upLoadSigSec">
       <p>Upload a picture of your signature</p>
       <div class="uploadImage">
       <div style="height:0px;overflow:hidden">
           <input type="file" id="fileInput" name="fileInput" #fileInput/>
        </div>
           <a onclick="chooseFile();" class='btn btn-primary'><img src="../../assets/images/Upload.png" alt="Upload"> Upload</a>
       </div>
       <!-- <label id="#u"> Upload
        <input type="file" id="File"   size="60" >
        </label>  -->

       <p>Maximum File Size: 40Mb</p>
       <p>Acceptable File Formats: png,jpg,jpeg,bmp,gif</p>
   </div> 
   <div class="uploadBtnSign">
      
   </div>
   <div class="inserButton">
        <div class="row">
        <div class="col-sm-8 text-left">
             <div class="inSertpar">
                 <p>I understand this is a legal representation of my signtaure.</p>
             </div>
         </div>
        <div class="col-sm-4 text-right">
             <div class="insbtnLink">
                 <button  class='insertSign btn btn-primary'>Insert</button>
             </div>
         </div>
     </div>
    </div>
</div>
</div>
</div>
