.adminSettings li {list-style: none;display: inline-block;margin: 0 5px;font-size: 24px;color: #fff;}
.adminSettings li a {color: #fff;padding: 0;height: 36px;width: 36px;display: inline-block;text-align: center;border-radius:50%;transition:all;
	transition:0.3s linear;}
.adminSettings li a:hover{ background:#2E344C }
.adminSettings ul{ margin:0; }
.XeninvoiceDarkHeader{ background:#242834 }