
                <section id="editFax">
                    <div class="text-dark eidt-topbar">
                        <button type="button" class="btn btn-white" (click)='signPopup()' >
                            <span class="edit-icon">
                                <img src="../../assets/images/Sign.png" class="img-fluid" />
                            </span>
                            Signature
                        </button>
                        <button type="button" class="btn btn-white">
                            <span class="edit-icon">
                                <img src="../../assets/images/Intials.png" class="img-fluid" />
                            </span>
                            Initials
                        </button>
                        <button type="button" class="btn btn-white">

                            <span class="edit-icon">
                                <img src="../../assets/images/Check-Box.png" class="img-fluid" />
                            </span>
                            Checkmark
                        </button>
                        <button type="button" class="btn btn-white edit-date-block">
                            <span class="edit-icon">
                                <img src="../../assets/images/Date.png" class="img-fluid" />
                            </span>
                            <input type="text" id="datepicker" placeholder="Date" class="edit-date">
                        </button>
                        <button type="button" class="btn btn-white">
                            <span class="edit-icon">
                                <img src="../../assets/images/Create-Text.png" class="img-fluid" />
                            </span>
                            text
                        </button>
                        <select class="btn btn-white">
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                        </select>

                        <a class="btn edit-btn-flat" (click)='closeEditFaxModal()'>
                            Cancel
                        </a>
                        <button type="button" class="btn btn-primary">
                            Continue
                        </button>
                    </div>
                    <div class="edit-bg-light">
                        <section id="editDoc" class="editDoc bg-white ">
                            <div class="edit-heading">
                                <h1 class="text-center">Invoice</h1>
                            </div>
                            <div class="edit-info">
                                <div class="row">
                                    <div class="col-sm-4 text-left">Date:</div>
                                    <div class="col-sm-8" id="edit-doc-date">04/05/10</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-left">Attention:</div>
                                    <div class="col-sm-8" id="edit-doc-date">Customer , New</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-left">Re:</div>
                                    <div class="col-sm-8" id="edit-doc-date">New Account Test fax</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-left">ACCT Number:</div>
                                    <div class="col-sm-8" id="edit-doc-date">12345</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4 text-left">Fax Number:</div>
                                    <div class="col-sm-8 " id="edit-doc-date">888.5555.12345</div>
                                </div>
                            </div>
                            <div class="edit-contnet">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium voluptatum provident
                                    obcaecati neque consequatur adipisci commodi fugit odio dolorum, nam eos ea! Atque voluptatibus
                                    praesentium inventore ipsam sint distinctio! Unde quae recusandae cumque blanditiis perspiciatis
                                    maiores nisi, numquam accusamus cum id esse repudiandae, consequuntur tempora vel placeat
                                    consectetur at est nesciunt sequi commodi asperiores earum. Minima consequuntur fugit
                                    sit sunt.</p>
                                <p>
                                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid eligendi omnis optio cumque quae, blanditiis deleniti sapiente
                                    sed labore. Commodi!
                                </p>
                            </div>
                            <div class="edit-sig">
                                <img src="../../assets/images/sign.jpg" class="img-fluid" />
                            </div>
                        </section>
                    </div>
                </section>
<div class="modal fade in show customStyleSign" id="signature"  *ngIf='signaturePopUp'>
        <div class="modal-dialog modal-lg ">
            <div class="modal-content">
                <div class="modal-body">
                    <app-signature-model (closeSignModal)="closeSignUp($event)"></app-signature-model>
                </div>
             </div>
        </div>
    </div> 