@import "src/assets/styles/helpers/variables";

html, body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

body{margin: 0;}

a{
    cursor: pointer;
    border-radius:0px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}

p{
    color:#333;
}
.btn{
    border-radius:0px;
}

h5{
    font-size: 1rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}
.modal{
    overflow: auto;
}
.modal-body, .modal-content, .modal-header{
    border-radius:0px; 
}
.modal-header{
    padding:0px;
}

.modal{
    display: block;
    padding-right: 17px;
}
.fade.show{
    background-color: rgba(101, 100, 100, 0.34901960784313724) !important;
}