.bg-grey{ background:#F4F3F1 }
.row.bg-grey{margin:0;}
.CommonHeader{background:#242834}
.bd-highlight{background:#e9ecef;}
.ListItemGroup{ text-align:left; list-style:none; }
.ListItemGroup .listing a{color:#666; text-decoration:none;}
.ListItemGroup .listing.active a{color:#FF5B48; text-decoration:none;}
.ListItemGroup .listing:hover a{color:#FF5B48}
.NumbersBg{ background:#F6F6F6; color:#666; font-size: 18px;}
.list-group .listing {border-bottom: 1px solid #dedede;	line-height: 38px;font-size: 18px;}
.NumbersBg {background: #F6F6F6;padding-top: 2px !important;padding-bottom: 5px !important;}
.borderless td, .borderless th, .table.borderless thead th {   border: none;}
.btn{border-radius:3px;}