            <div class="p-3 bd-highlight">
                <form class="justify-content-center">
                    <span class="algolia-autocomplete">
                        <input class="form-control ds-input" id="search-input" placeholder="Search" autocomplete="off"  type="search">
                    </span>
                </form>
            </div>
            <div class="p-3 NumbersBg">
                <div class="d-flex">
                  <div class="">Numbers</div>					  
                  <div class="ml-auto"><button type="button" class="btn btn-dark">Buy</button></div>
                </div>
            </div>
            <div class="p-3 bg-white">					
                <ul class="list-group ListItemGroup">
                  <li class="listing active"><a href="#">2454574878 - John</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  <li class="listing"><a href="#">2454548787 - Thomas</a></li>
                  
                </ul>
            </div>
       