.shadow {box-shadow: 1px 1px 14px rgba(0, 0, 0, 0.15) !important;}
.borderless td, .borderless th, .table.borderless thead th {   border: none !important;}
.table{font-size: 16px;color: #666;}
.align-self-center{    font-size: 20px;    color: #666;}
.btn.btn-primary{padding:0.675rem 3.75rem}