<div class="row p-2 mt-3 mb-3">
  <div class="d-flex col align-self-center">24545478787</div>
  <div class="d-flex justify-content-end col "><a routerLink='/sendfax' class="btn btn-primary">Send Fax</a></div>
</div>
<table class="table shadow  bg-white rounded borderless">
<thead class="thead-light">
  <tr>
    <th scope="col" class="col-md-0">&nbsp;</th>
    <th scope="col">ID</th>
    <th scope="col">Created Date</th>
    <th scope="col">Document</th>
    <th scope="col">Status</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Failed</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Failed</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Failed</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Failed</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Failed</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Failed</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  <tr>
    <td class="col-md-0">&nbsp;</td>
    <td scope="row">12124154</td>
    <td>Jul 26, 2018</td>
    <td>Xenvoice_Account.pdf</td>
    <td>Success</td>
  </tr>
  
</tbody>
</table>