.sidenav ul{ margin:0; padding:0; }
.sidenav {   height: 100%;    width: 60px;    position: fixed;    z-index: 1;    top:50px;   left: 0;    background-color: #2A303E; overflow-x: hidden; }
.sidenav a { padding: 6px 8px 6px 16px; font-size:24px;   text-decoration: none;   color: #ffffff;   display: block;}
.sidenav a:hover {   color: #f1f1f1;}
.sidenav li{ list-style:none; }